<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">Eventify</a>
    <ul class="menu">
      <li><a routerLink="/create-event">Создать мероприятие</a></li>
      <li><a routerLink="/events">Мероприятия</a></li>
      <li><a routerLink="/games">Игры</a></li>
      <li *ngIf="!isLoggedIn">
        <button (click)="login()">Войти</button>
      </li>
      <li *ngIf="isLoggedIn" class="profile-menu">
        <img class="avatar" alt="User Avatar" (click)="goToProfile()" ngSrc="../public/favicon.ico"/>
      </li>
    </ul>
  </div>
</nav>
