<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-header">
    <img class="profile-picture" [src]="profile?.icon" alt="{{ profile?.name }}">
    <h2>{{ profile?.name }}</h2>
  </div>
  <div class="profile-details">
    <h3>История мероприятий</h3>
    <ul class="profile-events">
      <li *ngFor="let event of gameHistory">
        {{ event.eventName }} - {{ event.gameResult }}
      </li>
    </ul>
    <h3>Статистика</h3>
    <p>Сыграно игр: {{ statistics?.totalGames }}</p>
    <p>Побед: {{ statistics?.wins }}</p>
    <p>Процент побед: {{ statistics?.winPercentage }}%</p>
    <h3>Избранные игры</h3>
    <ul class="profile-favorites">
      <li *ngFor="let game of favouriteGames">{{ game.name }}</li>
    </ul>
  </div>
</div>
