<app-navbar></app-navbar>
<h1>Список игр</h1>
<div class="games-container">
  <div class="game-card" *ngFor="let game of games">
<!--    <img src="{{game.image}}" alt="{{game.name}}" class="game-image">-->
    <div class="game-details">
      <h2>{{game.name}}</h2>
      <p><strong>Количество игроков:</strong> {{game.minPlayers}} / {{game.maxPlayers}}</p>
      <p><strong>Жанр:</strong> {{game.genres}}</p>
    </div>
<!--    <button class="join-button">Записаться</button>-->
    <span
      class="favorite-icon"
      [class.favorite]="game.isFavorite"
      (click)="toggleFavorite(game)">
      &#9733;
    </span>
  </div>
</div>
