h1 {
  text-align: center;
  font-family: "Days O", sans-serif;
}

.profile-container {
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d3d3d3;
  position: relative;
  font-family: "Days O", sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-picture {
  border-radius: 50%;
  width: 120px;
  border: 4px solid #ff6347;
}

.profile-details h3 {
  margin-top: 1rem;
  color: #333;
}

.profile-details ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.profile-details p {
  color: #555;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #f0f8ff;
  border: 2px solid #e0e7ff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1.5rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.game-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.game-details {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #555;
}

.game-card::before {
  content: '\2605';
  font-size: 1.5rem;
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.game-card:hover::before {
  color: #ff6347;
}

.join-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, transform 0.2s;
}

.join-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.page-header {
  width: 100%;
  padding: 1rem;
  background-color: #e8f4fa;
  border-bottom: 3px solid #c4e0f9;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.page-footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e8f4fa;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.favorite-icon {
  content: '\2605';
  font-size: 1.5rem;
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.favorite-icon.favorite {
  color: #ff6347;
}

.favorite-icon:hover {
  color: #ff4500;
}

